body{
    margin: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    background-color: black;
}
.header{
    background-color: black;
    height: 90px;
    width: 100%;
}
.logo{
    width: 270px;
    margin-left: 30px;
    margin-top: 10px;
}
.head2{
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 710px;
    display: flex;
    justify-content: space-between;
    margin-left: 270px;
    margin-top: -43px;

}
.atag{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}
.head3{
    background-color: rgb(15, 14, 14);
    height: 20px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 1000px;
    margin-top: -20px;

}
#menu{
    width: 30px;
    margin-left: -85px;
    margin-top: -5px;
}
.div1{
    background-color: rgb(9, 8, 8);
    width: 100%;
    height: 394px;
    overflow:hidden;
    text-align:center;
}
.image{
    width: 372px;
    height: 100%;
    margin-left: -1px;
    margin-top: -51px;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:white;
    padding-top: -30px;
    position: relative;
    top: -235px;
    left: -381px;
}
.text2{
    font-size: 48px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 50px;
    text-align: left;
    line-height: 0px;
    top: -251px;
}
.button{
    background-color:transparent;
    color:white;
    border: white solid;
    position: relative;
    top: -130px;
    left: 65px;
    font-family: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;/
    /*Hides any content that overflows the Div*/
}
.div2{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 520px;
        margin-top:-59px;
        overflow: hidden;
}
.img1{
        width: 100%;
        margin-bottom: 10px;
}
.img2{
  width: 100%; 
}
.footer{
    background-color: black;
    width: 100%;
    height: 18px;
    position: relative;
    top: -32px;
    
}
.footer-text{
    background-color: rgb(0, 0, 0);
    height: 36px;
    width: 310px;
    position: relative;
    top: 21px;
    left: 337px;
    display: flex;
    justify-content:space-between;
}
.text3{
    font-size: 45px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 50px;
    text-align: left;
    line-height: 0px;
    top: -360px;
   
}
.text4{
    font-size: 18px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    left: 50px;
    text-align: left;
    line-height: 0px;
    top: -350px;
}
.button1{
    background-color:transparent;
    color:white;
    border: white solid;
    position: relative;
    top: -372px;
    left: 65px;
    font-family: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
}


.coppyright{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 1px;
    font-size: 10px;
}

#video-text1{
margin-top: -92px;
}
#video-text2{
    margin-top: 46px;
}
.arrow{
    position: absolute;
    top: 442px;
    left: 524px;
    z-index: 9;
    /* Setting a z-index to ensure the Arrow stays on top */
    width: 28px;
    height: 38px;
}
#arrow1{
    position: absolute;
    top: 900px;
    left: 524px;
}
#arrow2{
    position: absolute;
    top: 1360px;
    left: 524px;
}
#arrow3{
    position: absolute;
    top: 1827px;
    left: 524px;
}
#arrow4{
    position: absolute;
    top: 2282px;
    left: 524px;
}
#arrow5{
    position: absolute;
    top: 2290px;
    left: 524px;
}